.header-scope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px 0;
}

.menu-toggle {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #333;
    transition: left 0.3s ease-in-out;
}

.menu-toggle.open {
    left: 0;
}

.menu-list {
    font-size: 25px;
    color: white;
}

.menu-item {
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.menu-item:hover {
    background-color: white;
    color: black;
}

.col-sm-12 {
    width: calc(100% - 12px) !important;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

.item-menu {
    cursor: pointer;
}

.t-center {
    text-align: center;
}

.item-exit {
    display: inline-block;
    width: 100%;
}

.cart {
    width: 100%;
    text-align: center;
    border: none;
}

.cart-food-scope {
    gap: 20px 0;
    margin: 100px 0 50px 0;
}

.cart-food {
    width: 300px;
    text-align: center;
}

.cart-about {
    height: 600px;
    width: 600px;
    align-self: center;
}

.image-food {
    height: 200px;
    width: 300px;
}